<%- include('components/header.ejs') %>

<body>
    <main style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh;">
        <h1>ERROR</h1>
        <p><%= error %></p>
        <a href="/">Back</a>
    </main>
</body>