<%- include('components/header.ejs') %>

<link rel="stylesheet" href="/module.style.delete.css">

<body>
    <main>
        <div class="box">
            <h1>ERROR</h1>
            <p><%= error %></p>
        </div>
        <a href="/"><button><h2>BACK</h2></button></a>
    </main>
</body>