<%- include('components/header.ejs') %>

<body>
    <main>
        <div class="box">
            <form action="/create" method="post" class="main-form">
                <input type="text" name="slug" placeholder="Your slug..." class="input-primary" required>
                <input type="text" name="link" placeholder="Your link..." class="input-primary" required>
                <input type="submit" value="Create" class="submit-primary">
            </form>
            <a href="/delete"><button class="delete-submit">Delete</button></a>
        </div>
    </main>
</body>