<%- include('components/header.ejs') %>

<link rel="stylesheet" href="/css/module.style.success.css">

<body>
    <main>
        <div class="box">
            <h1>SUCCESS</h1>
            <% if(shortener === true) { %>
                <a href="http://localhost:3000/redirect/<%= slug %>"><%= success %></a>
            <% } else { %>
                <p><%= success %></p>
            <% } %>
        </div>
        <a href="/"><button><h2>BACK</h2></button></a>
    </main>
</body>